#partenaires {
  padding: 4em 0 1em 0;
  position: relative;
  background-color: rgb(var(--grey2));
}

.partenaires-title {
  color: white;
  padding: 0 2em;
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 2em;
}

.partenaires-slider {
  display: block;
  position: relative;
  width: 75%;
  margin: 4em auto;
}

.partenaires-slide img {
  width: 100%;
  object-fit: cover;
}

#partenaires .slick-slide {
  margin: 0 3em;
}

.slider-prev-arrow,
.slider-next-arrow {
  cursor: pointer;
  position: absolute;
  z-index: 999;
  width: 45px;
  height: 45px;
  bottom: 5%;
}
.slider-prev-arrow {
  transform-origin: center;
  transform: rotate(180deg);
  right: 25vw;
}
.slider-next-arrow {
  right: 15vw;
}

.slick-prev,
.slick-next {
  height: 35px !important;
  width: 35px !important;
}

.slick-prev:before,
.slick-next::before {
  content: "" !important;
  background-image: url("https://socreativ.com/ContractFactory/wp-content/uploads/2021/02/arrow.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  display: block;
  transition: 0.35s ease;
  opacity: 0.5;
}

.slick-prev:before {
  transform: rotate(180deg);
}

.slick-track {
  display: flex !important;
  align-items: center;
}
#partenaires .slider-prev-arrow,
#partenaires .slider-next-arrow {
  top: 50%;
  display: flex;
  align-items: center;
  height: 0;
}
#partenaires .slider-prev-arrow {
  left: 5%;
}
#partenaires .slider-next-arrow {
  right: 5%;
}
