.services-container {
    overflow: auto;
}

.services-title {
    font-size: 3em;
    font-weight: 600;
    padding: 4vh 0;
    position: relative;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

.block-services {
    /* min-height: 35vh; */
    font-size: 1.3em;
}

.services-title:after {
    position: absolute;
    content: "";
    height: 5px;
    width: 50px;
    bottom: 0;
    left: 0;
    background: rgb(var(--gold));
}

.block-service__img {
    width: auto;
    margin-bottom: 1rem;
}

.block-service__lien {
    color: rgb(var(--gold));
    text-align: center;
}

.block-service__lien path:hover {
    fill: #fff;
}

.block-service__lien:hover {
    color: rgb(var(--white));
    background-color: #d3b588;
    transition: 0.3s;
}

.white-fill path {
    fill: #fff;
}

.block-service__plus {
    font-size: 2em;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

@media (max-width: 768px) {
    .block-service__plus {
        display: none;
    }
}

@media (max-width: 576px) {
    .services-title:after {
        left: 50%;
        transform: translateX(-50%);
    }
    .services-row {
        flex-wrap: nowrap;
        width: 170vw;
        overflow: auto;
        height: auto;
    }
    .services-title {
        text-align: center;
    }
}