#solutions .archive__content .left-col {
    width: 100%;
    padding: 0 0 30px 0;
}

.solutions-button {
    padding: 1em 1vw;
    margin: 1vh 0;
    border: 1px solid rgb(var(--gold));
    font-size: 1.1em;
}

.solutions-subtitle {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 1.3em;
}

.solutions-selected {
    background-color: rgb(var(--gold))!important;
    color: rgb(var(--white))!important;
}

.solutions-selected path {
    fill: rgb(var(--white));
}

.solutions-content {
    margin-top: 10vh;
}

.solutions-content p {
    font-size: 1.1em;
}

@media (max-width: 576px) {
    .solutions-button {
        background-color: #fff;
        justify-content: space-around!important;
        min-width: 75vw;
    }
    .row-index {
        white-space: nowrap;
    }
    .text-container {
        z-index: -1;
    }
    .anchor-container {
        flex-wrap: nowrap;
        position: fixed;
        overflow-x: scroll;
        bottom: 0;
        z-index: 1;
        flex-direction: row!important;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    /* .anchor-container::-webkit-scrollbar {
        display: none;
    } */
    .archive__content {
        min-height: auto;
    }
}