/*                    SLIDER
  ************************************************/
  .fade-in-text {
	-webkit-animation: fade-in-text 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in-text 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
            opacity : 0;
}
/**
 * ----------------------------------------
 * animation fade-in-text
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* END FADE IN ANIM */

.slider {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    pointer-events: initial;
    z-index: 100;
}

.entry-content {
    position: relative;
}

.slider video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rectangle-address {
    min-width: 50vw;
    min-height: 15vh;
    background-color: rgb(var(--white));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    position: absolute;
    bottom: 0px;
    z-index: 10;
}

.rectangle-address__container {
    font-size: 1.5em;
    line-height: 2em;
}

.rectangle-adress__number {
    font-weight: 700;
}

.slider h1,
.slider h2,
.slider h3,
.slider p {
    color: #fff;
    text-transform: none;
}

.name {
    font-size: 7vh;
    font-family: "Charter";
}

.title {
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}

.subtitle {
    font-size: clamp(3em, 5vw, 9.5em);
}

.slider-text {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

.slider img,
#slider video {
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    pointer-events: none;
}

.slider-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    height: 100%;
    max-height: 80vh;
}

.slider-btn {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 1.5em;
}

.slider-btn:hover {
    color: #fff;
    text-decoration: none;
}

.slider-btn:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform-origin: right;
    transform: scaleX(0);
}

.slider-btn:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.slider-prev-arrow g,
.slider-next-arrow g {
    fill: #fff;
}

.slider-prev-arrow,
.slider-next-arrow {
    cursor: pointer;
    position: absolute;
    z-index: 999;
    width: 45px;
    height: 45px;
    bottom: 5%;
}

.slider-prev-arrow {
    transform-origin: center;
    transform: rotate(180deg);
    right: 25vw;
}

.slider-next-arrow {
    right: 15vw;
}

#slider-dots {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

.slider-dots {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.greyscale {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 9;
    pointer-events: none;
}

.slider-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
    position: relative;
}

.slider-dots li button:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    display: block;
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

.slider-dots li.slick-active button:before {
    height: 12.5px;
    width: 12.5px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}

.slider-container {
    height: 100%;
}

.main-slider {
    height: 100%;
}


/** ARROWS **/

.arrows {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0;
    top: -20px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 2;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.arrows svg {
    position: relative;
}

.arrows svg:nth-child(2) {
    top: 3px;
}

.arrows svg:nth-child(3) {
    top: 6px;
}

.arrows svg:nth-child(4) {
    top: 9px;
}

.arrows svg>path {
    animation: jumNext 1.8s ease infinite;
    opacity: 0;
}

.arrows svg>path {
    fill: #fff;
}

.arrows svg:nth-child(2)>path {
    animation-delay: 0.2s;
}

.arrows svg:nth-child(3)>path {
    animation-delay: 0.3s;
}

.arrows svg:nth-child(4)>path {
    animation-delay: 0.4s;
}

@keyframes jumNext {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}


/*************************************************
    *                 RESPONSIVE                     *
    **************************************************/


/* 13 POUCES */

@media (max-width: 1280px) {}

@media (max-width: 1200px) {}


/* IPAD PRO */

@media (max-width: 1024px) {
    .slider-content {
        justify-content: space-around;
    }
}

@media (max-width: 992px) {
    .slider-content {
        justify-content: space-around;
    }
    .arrows {
        top: 0;
    }
    .slider .slider-prev-arrow {
        right: 35vw!important;
    }
    .slider .slider-next-arrow {
        right: 25vw!important;
    }
    .rectangle-adress__street {
        font-size: 0.7em;
    }
}


/* IPAD */

@media (max-width: 768px) {
    .rectangle-adress__street {
        max-width: 40vw;
        line-height: 1;
    }
}


/* MOBILE */

@media (max-width: 576px) {
    .slider-content {
        width: 100vw;
        padding: 2em;
        justify-content: space-between;
    }
    .main-slider-bkg {
        height: 80vh !important;
    }
    .slider-next-arrow,
    .slider-prev-arrow {
        display: none;
    }
    .slider-text {
        width: 100%;
    }
    /* .slider-content div:first-child {
        display: none;
    } */
    .slider-content {
        justify-content: center;
    }
}