.block-slider__title {
    font-size: clamp(1em, 4em, 6em);
    margin: 0;
    font-weight: 400;
}

.block-slider .block-xs__sub-title:after {
    position: absolute;
    content: "";
    height: 5px;
    width: 50px;
    bottom: 0;
    left: 0;
    background: rgb(var(--gold));
}

.modele-slider {
    width: 80%;
}

.slick-track {
    /* width: 1650px !important; */
}

.block-slider__bloc-text {
    font-weight: 600;
    line-height: 1.2em;
}

.block-slider {
    overflow-x: clip;
}

.block-slider .slick-list {
    overflow: visible;
    clip-path: inset(0% -60% 0% 0%);
}

.block-slider .slick-list,
.block-slider .slick-track {
    height: 100%;
}

.block-slider .slick-slide {
    margin: 0 2vw 0 0;
    max-height: 350px;
    width: 350px !important;
}

.block-slider__bloc-title {
    font-size: 1.4rem;
}

.block-slider .slider-prev-arrow,
.block-slider .slider-next-arrow {
    bottom: -10%;
}

.block-slider .slider-next-arrow {
    left: 10%;
}

.block-slider .slider-prev-arrow {
    left: 0;
}

.block-slider .slider-prev-arrow g,
.block-slider .slider-next-arrow g {
    fill: #000;
}

.block-slider__link {
    font-size: 1.3em;
    font-weight: 400;
}

@media (max-width: 992px) {
    .block-slider {
        overflow-x: scroll;
    }
    .modele-slider {
        flex-wrap: nowrap;
        display: flex;
        width: 100%;
    }
    .modele-slider-arrows {
        display: none;
    }
}