.archive__content {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
}

.archive__content h1 {
    color: #eaeaea;
    font-size: 3.5em;
    font-weight: 600;
    margin-bottom: 5vh;
    margin-top: 0;
    position: relative;
}

.archive__content h1::after {
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: rgb(var(--gold));
}

.archive__content .left-col {
    width: 40%;
    padding-left: 15em;
    top: 0;
    left: 0;
    border-right: 1px solid #eaeaea;
}

.archive__content .right-col {
    width: 60%;
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* .archive__content > div {
  padding: 2em;
} */

.archive__content ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.category a {
    font-weight: 200;
    font-size: 1.1em;
    display: block;
    transition: 0.35s ease;
}

.category a:hover {
    color: rgb(var(--gold));
}

.category a li {
    margin-bottom: 0.5em;
}

.category a.current {
    color: rgb(var(--gold));
    position: relative;
    font-weight: 600;
}

.category a.current::before {
    content: "";
    position: absolute;
    left: -1em;
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    background-color: rgb(var(--gold));
}

.left-col .sticky {
    position: sticky;
    top: 0;
    padding-top: 10vh;
}

.cat_name {
    color: rgb(var(--gold));
}

.post-card {
    max-width: 34%;
    min-height: 50vh;
    padding: 1em;
    position: relative;
}

.post-card:nth-of-type(even) {
    transform: translateY(5vh);
}

.post__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.post-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .35s ease;
    border-radius: 5px;
}

.post__information {
    position: absolute;
    bottom: 1em;
    color: #fff;
    background-color: #00000080;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
    width: calc(100% - 1em);
}

.card__title {
    margin: 0;
}

.post-card:hover img {
    transform: scale(1.1);
}

.post__information .info {
    font-size: 0.8em;
}


/* MOBILE */

@media (max-width: 576px) {
    .archive__content .right-col {
        width: 100%;
        padding-top: 2vh;
    }
    .archive__content .left-col {
        padding-left: 10em;
        border-right: none;

    }
    .post-card {
        max-width: none;
    }
    .post-card:nth-of-type(even) {
        transform: none;
    }
    .archive__content {
        flex-direction: column;
    }
    .archive__content h1 {
        margin: 0.5em 0;
        font-size: 2.5em;
        text-align: center;
    }
    .archive__content h1::after {
        content: none;
    }
    .right-col::after {
        content: "";
        position: fixed;
        bottom: 0;
        display: block;
        width: 100vw;
        height: 15vh;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
    }
    .category__toggle {
        background-color: rgb(var(--gold));
        position: fixed;
        padding: 0;
        left: 25px;
        bottom: 25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .35s ease;
        z-index: 445;
        padding: 0.8em;
    }
    .category__toggle svg,
    .category__toggle g,
    .category__toggle path {
        transition: .35s ease;
    }
    .category__toggle.w {
        background-color: #FFF;
    }
    .category__toggle.w svg,
    .category__toggle.w g,
    .category__toggle.w path {
        fill: rgb(var(--gold));
    }
    .category__sidebar {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transition: .35s ease;
        display: flex;
        background-color: rgb(var(--gold), 0.9);
        backdrop-filter: blur(2px);
        transform: translateX(-100vw);
        z-index: 444;
        align-items: center;
    }
    .category__sidebar ul {
        padding: 1em;
    }
    .category__sidebar li {
        color: #FFF;
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .category__sidebar.open {
        transform: translateX(0);
    }
}