.jumbotron img{
    height: 100%;
    width: 100%;
    max-height: 50vh;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
}

.jumbotron{
    margin-bottom: 5vh;
    position: relative;
    overflow: hidden;
}

.blog-content{
    width: 70%;
    margin: auto;
    background-color: #FFF;
    transform: translateY(-25vh);
    padding: 2em 4em;
    text-align: justify;
    position: relative;
    z-index: 4;
}

.blog-content header{
    margin-bottom: 5vh;
    text-align: center;
}

.back-to-archive{
    position: absolute;
    top: -5vh;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.jumbotron .greyscale{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: .35;
    z-index: 2;
    border-radius: 10px;
}

.posts-navigation{
    background-color: #505050;
    padding: 2em;
    margin: 0 !important;
    color: #FFF;
   
}

.posts-navigation a{
    color: #FFF;
}

.next-post, .previous-post{
    display: flex;
    align-items: center;
    max-width: 250px;
}

.next-post{
    text-align: right;
}

.pp__link, .np__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.posts-navigation p{
    margin-bottom: 0.5em;
}

.pn__container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-rs{
    position: absolute;
    right: 1em;
    top: 50%;
}

#rs-menu-single{
    display: flex;
    flex-direction: column;
}

#rs-menu-single svg{
    margin: 1em 0;
}

#rs-menu-single svg *{
    fill: #000 !important;
}

/* MOBILE */
@media (max-width: 576px) {

    .blog-content{
        width: 100%;
        padding: 2em 1em;
        transform: none;
    }

    .jumbotron{
        height: 25vh;
        border-radius: 10px;
    }

    .back-to-archive{
        top: -10vh;
    }

}