.contact-title {
    color: #eaeaea;
    font-size: clamp(2em, 10vw, 9.5em);
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    line-height: 1;
}

.contact-form input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(var(--gold));
}

.contact-form span.wpcf7-form-control-wrap.select:after {
    content: url("http://10.9.2.12:8888/imeris-patrimoine/wp-content/uploads/2021/10/arrow-gold.svg");
    bottom: 0;
    right: 2%;
    position: absolute;
    transform: rotate(90deg);
}

.contact-form select {
    border: none;
    border-bottom: 2px solid #d0b083;
    padding: 1em 0 0em 0px;
    -webkit-appearance: none;
    width: 100%;
}

span.wpcf7-list-item {
    position: relative;
    font-weight: 600;
}

.wpcf7-acceptance .wpcf7-list-item {
    margin: 0;
}

.contact-form .statut input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    appearance: none;
}

.wpcf7-exclusive-checkbox label {
    margin: 0;
}

.contact-form .statut input[type="checkbox"]:checked~span {
    color: rgb(var(--gold));
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.contact-form .statut input[type="checkbox"]:checked~span:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgb(var(--gold));
    position: absolute;
    bottom: -2vh;
    left: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.contact-form textarea {
    outline: 0;
    border-width: 2px;
    border-color: rgb(var(--gold));
    width: 100%;
}

.contact-form .parameters input,
.contact-form .parameters label,
.contact-form .parameters span {
    width: 100%;
}

.contact-form .submit {
    background-color: rgb(var(--gold));
    border-radius: 0;
    padding: 3vh 15vh;
    border: 0;
    color: rgb(var(--white));
    font-size: 1.3em;
}

.contact-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    background-color: #fff;
}