/*                    FOOTER
************************************************/

#colophon a {
    text-decoration: none;
}

.footer-container {
    background-color: rgb(var(--dark5));
    color: rgb(var(--white));
}

.sub-footer {
    background-color: rgb(var(--black));
    color: rgb(var(--white));
}

.sub-footer p {
    padding: 0em 0 0.5em 0;
    margin: 0;
}

.sub-footer .sub-footer-legacy p {
    padding: 0em;
    margin: 0;
}

.sub-footer .sub-footer-legacy {
    border-top: 1px solid #ffffff52;
}

#footer-menu {
    list-style-type: none;
}

#rs-menu {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#footer-menu li a {
    padding: 0.4em 0.3em 0.4em 0;
    margin: 0.1em 0em;
    display: block;
    font-size: 16px;
}

ul#rs-menu a svg {
    max-height: 20px;
    margin-left: auto;
    display: flex;
}

ul#rs-menu a {
    color: transparent;
}

#colophon a {
    color: rgb(var(--white));
}

.linkRS span {
    height: 35px;
    width: 35px;
}

.RS-link {
    display: flex;
    flex-direction: row;
}

#hr-rs {
    width: 40%;
    margin-left: 0;
}

#hr-contact {
    width: 100%;
    margin-left: 0;
    background-color: rgb(255, 255, 255, 0.2);
}

.filter-grey {
    filter: grayscale(1);
}

ul#footer-menu {
    columns: 2;
    display: block !important;
    text-align: left;
}

.address-title {
    color: rgb(var(--white));
    font-size: 1.2em;
    letter-spacing: 1px;
}

.logo-footer {
    width: 100%;
}

.site-title h2 {
    width: auto;
    padding: 2em 0;
    color: rgb(var(--white));
    letter-spacing: 5px;
    margin: 0;
    font-size: 1.6em;
}

.site-desc,
.insta-footer {
    display: flex;
    align-items: center;
}

.address-link {
    line-height: 1.8em;
}

.site-desc p {
    margin: 0;
}

.footer-number {
    font-size: 2em;
}

@media (max-width: 576px) {
    ul#footer-menu {
        columns: 1;
        text-align: center;
    }
    .site-desc {
        justify-content: center;
    }
    .site-title h2 {
        float: none;
        text-align: center;
    }
    #rs-menu {
        justify-content: space-between;
    }
    
}