.fancybox__container {
    z-index: 99999 !important;
}

.wp-block-image,
figure {
    margin-bottom: 0 !important;
    width: 100%;
}

.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}


/* FONT SIZE STYLE */

.has-h-2-serif-font-size {
    font-size: 2.5em;
    font-family: "charter";
    font-weight: 100 !important;
}

.has-h-2-sans-serif-font-size {
    font-size: 2em;
}

.has-h-3-serif-font-size {
    font-size: 1.5em;
    font-family: "Charter" !important;
    font-weight: 100 !important;
}

.has-h-3-sans-serif-font-size {
    font-size: 1.2em;
    font-weight: 100 !important;
    text-transform: uppercase;
}

.has-big-font-size {
    font-size: 10vw;
    opacity: 0;
    color: rgb(var(--grey));
    letter-spacing: 120px;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100vw;
    overflow: hidden;
}

.has-bigtext-font-size {
    font-size: 2rem;
    font-weight: 600;
}

.has-small-font-size {
    font-size: 0.9rem;
}

.is-style-clamp {
    font-size: clamp(3vw, 5vw, 40px);
}


/* **************** */


/* BTN CUSTOM STYLE */


/* light  */


/* .is-style-light-link a,
.is-style-light-link>span {
    padding: 0.5em 2em 0.5em 0em;
    transition: all 0.3s;
    position: relative;
    background-color: transparent;
    border-radius: 0;
    color: rgb(var(--dark2));
    display: inline-flex;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: initial;
    font-weight: 300;
    font-size: 16px !important;
}

.is-style-cover-3disc a.wp-block-button__link {
    color: rgb(var(--white));
}

a:visited {
    color: inherit!important;
}

main .is-style-3disc-link .wp-block-button__link:active,
main .is-style-3disc-link .wp-block-button__link:focus,
main .is-style-3disc-link .wp-block-button__link:hover,
main .is-style-3disc-link .wp-block-button__link:visited:hover {
    color: #fff!important;
}

.burger-nav .is-style-3disc-link .wp-block-button__link:active,
.burger-nav .is-style-3disc-link .wp-block-button__link:focus,
.burger-nav .is-style-3disc-link .wp-block-button__link:hover,
.burger-nav .is-style-3disc-link .wp-block-button__link:visited:hover {
    color: inherit!important;
}

.is-style-light-link a::before,
.is-style-light-link>span::before {
    content: "\203A";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: transform 0.3s;
    font-size: 1.5em;
}

.is-style-light-link a:hover::before,
.is-style-light-link>span:hover::before,
.grid-section-container>div:hover .wp-block-button__link::before {
    transform: translate(-60%, -50%);
}


/* MOONSTONE BTN */

.is-style-3disc-link a,
.envoyer .wpcf7-submit {
    border: 1px solid rgb(var(--black));
    padding: 0.5em 1em;
    border-radius: 0px;
    color: rgb(var(--black));
    display: inline-flex;
    text-decoration: none;
    background-color: rgb(var(--white));
    text-transform: uppercase;
    transition: all 0.35s;
}

.is-style-3disc-link-full,
.wp-block-button:not(.is-style-light-link) .wp-block-button__link {
    border: 1px solid transparent;
    padding: 1em;
    border-radius: 0px;
    color: rgb(var(--white)) !important;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.35s;
}

.is-style-3disc-link-full:hover,
.wp-block-button:not(.is-style-light-link) .wp-block-button__link:hover {
    background-color: transparent !important;
    color: rgb(var(--gold)) !important;
    border: 1px solid rgb(var(--gold));
}

.wp-block-button__link{
    transition: .35s ease;
    border: 1px solid transparent;
}

.wp-block-button__link.bkg-gold:hover{
    background-color: transparent !important;
    color: rgb(var(--gold)) !important;
    border: 1px solid rgb(var(--gold));
}

.is-style-3disc-link a:hover,
.envoyer .wpcf7-submit:hover {
    background-color: transparent;
    border: 1px solid rgb(var(--gold));
}

.normal-btn:before {
    content: "";
    display: none !important;
}

*/
/* **************** */


/* COLUMNS STYLE */

.is-style-columns-link {
    min-height: 25vh;
}

.is-style-columns-link .wp-block-column {
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 3rem 1.5rem;
}

.is-style-columns-link .wp-block-column p {
    margin: auto 0;
}

.is-style-columns-link .wp-block-column:not(:first-child),
.is-style-container-half-right .wp-block-column:not(:first-child),
.is-style-container-half-left .wp-block-column:not(:first-child) {
    margin-left: 0em;
}


/* HALF COLUMN RIGHT */

.is-style-container-half-right .wp-block-column:first-of-type {
    padding: 5rem 5em 5rem calc(15vw + 15px);
    max-width: calc(50vw - 0em);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.is-style-container-half-right .wp-block-column:last-of-type div {
    min-height: 100% !important;
}


/* HALF COLUMN LEFT */

.is-style-container-half-left .wp-block-column:last-of-type {
    padding: 0 15px;
    max-width: 100;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.is-style-container-half-left .wp-block-column:first-of-type div {
    min-height: 100% !important;
}


/* COLUMN-FRONT */

.is-style-column-index {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( 90deg, #ffffff00 0%, white 10%, white 90%, #ffffff00 100%);
}

.is-style-column-index>div {
    max-width: 450px;
    margin: auto;
}


/* **************** */


/* COLUMN SINGLE STYLE */

.is-style-column-border {
    box-shadow: inset 0 0 0 1pt #343a40;
}


/* **************** */


/* CONTAINER STYLE */


/* SMALL */

.is-style-container-small {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
}


/* Classic gutenberg-group */

.wp-block-group.is-style-default {
    overflow: hidden;
}


/* Classic Container bottstrap */

.is-style-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* BANNIERE */

.is-style-cover-3disc {
    padding: 5em;
}

.is-style-cover-3disc h2,
.is-style-cover-3disc h3 {
    font-size: 30px;
    font-weight: 400;
}

.is-style-cover-3disc:before {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.is-style-cover-3disc:hover:before {
    opacity: 0.8 !important;
}


/* QUOTE */

blockquote.wp-block-quote {
    padding-left: 30px;
    border-left: 3px solid rgb(var(--orange));
    margin-left: 5px;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 18px;
    font-style: italic;
}


/* LISTE */

.hentry ul,
.entry-content ul {
    border: none !important;
    border-radius: none !important;
    margin-left: 0 !important;
    padding-left: 30px !important;
}


/**
*     FAQ
*/

ol.schema-how-to-steps {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol.schema-how-to-steps>li {
    margin: 0;
    padding: 0 0 0 2em;
    list-style-type: none;
    counter-increment: item;
}

ol.schema-how-to-steps>li:before {
    display: inline-block;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: "ETAPE | " counter(item) ".";
}

ol.schema-how-to-steps {
    margin: 0;
    padding: 0px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}

ol.schema-how-to-steps li {
    padding: 15px;
}

ol.schema-how-to-steps li:nth-child(even) {
    background: #f5f5f5;
}

.schema-how-to-description {
    font-weight: 900;
    color: #e73f72;
    font-size: 20px;
    margin-top: 30px;
}

.schema-faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    color: var(--grey);
    border-radius: 0px;
    cursor: pointer;
}

.schema-faq-section {
    width: 100%;
}

.schema-faq-question {
    display: flex;
    width: 100%;
    padding: 1em 0;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0px;
    border-top: 1px solid rgb(var(--grey));
    z-index: 9;
    left: 50%;
    top: 50%;
    font-size: 1em !important;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.single .schema-faq-question {
    font-size: 16px !important;
    align-items: center;
}

.schema-faq-question:before {
    content: "+";
    display: inline-flex;
    font-weight: 300;
    font-size: 28px;
    line-height: 20px;
    margin-right: 2vw;
    color: rgb(var(--gold));
}

.schema-faq-answer {
    padding: 1em;
    display: none;
    overflow: hidden;
}

.faq-light .schema-faq-question {
    border-radius: 15px;
    opacity: 0.6;
}

.faq-light .schema-faq-question:before {
    font-weight: 400;
}


/* IMAGE STROKE */

.is-style-stroke-image figure {
    width: auto;
    height: auto;
    position: relative;
}

.is-style-stroke-image figure img {
    transform: translate(15px, 15px);
}

.is-style-stroke-image figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--gold));
    z-index: -1;
    transform: translate(calc(-50% - 0px), calc(-50% - 0px));
}

.mx--1 {
    margin: 0 -15px;
}

@media (min-width: 576px) {
    .is-style-container,
    .container {
        max-width: 540px !important;
    }
    .is-style-container-small {
        max-width: 750px;
        margin: auto;
    }
    .is-style-container-half-left .wp-block-column:last-of-type {
        padding: 2rem calc(3vw + 15px) 2rem 2em;
    }
}

@media (min-width: 768px) {
    .is-style-container,
    .container {
        max-width: 720px !important;
    }
}

@media (min-width: 992px) {
    .is-style-container,
    .container {
        max-width: 960px !important;
    }
}

@media (min-width: 1024px) {
    .is-style-container,
    .container {
        max-width: 90vw !important;
    }
    .is-style-container-half-left .wp-block-column:last-of-type {
        padding: 5rem calc(5vw + 15px) 5rem 5em;
    }
}

@media (min-width: 1200px) {
    .is-style-container,
    .container {
        max-width: 70vw !important;
    }
    .is-style-container-half-left .wp-block-column:last-of-type {
        padding: 5rem calc(15vw + 15px) 5rem 5em;
    }
}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


/* RESPONSIVE */


/* 13 POUCES */


/* 13 POUCES */

@media (max-width: 1280px) {}

@media (max-width: 1200px) {}


/* IPAD PRO */

@media (max-width: 1024px) {}

@media (max-width: 992px) {}


/* IPAD */

@media (max-width: 768px) {}


/* MOBILE */

@media (max-width: 576px) {
    .is-style-container-small {
        max-width: 100vw;
        padding: 0 15px;
    }
    .schema-faq-question {
        text-align: left;
        align-items: center;
    }
    .has-big-font-size {
        font-size: 2.8rem !important;
    }
    .has-bigtext-font-size {
        font-size: 1.3rem;
    }
    .is-style-container-half-right .wp-block-column:first-of-type,
    .is-style-container-half-left .wp-block-column:last-of-type {
        padding: 0 15px;
        max-width: 100%;
    }
    .is-style-3disc-link a {
        padding: 1em 2em;
        margin: 0 1em;
    }
    .wp-block-group {
        text-align: center;
    }
    .wp-block-buttons {
        justify-content: center;
    }
    .savoir-faire-button {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1%;
    }
    /* .wp-block-cover-image img.wp-block-cover__image-background,
  .wp-block-cover-image video.wp-block-cover__video-background,
  .wp-block-cover img.wp-block-cover__image-background,
  .wp-block-cover video.wp-block-cover__video-background {
    position: initial;
  } */
    .is-style-cover-3disc {
        padding: 1em;
    }
    .is-style-container-half-left .img-br-right,
    .is-style-container-half-right .img-br-left {
        border-radius: 0;
    }
    .wp-block-query ul {
        padding: 0 !important;
    }
}