.main-menu-container a,
.main-menu-container a:visited,
.main-menu-container a:hover {
    color: white;
    text-decoration: none;
}

#main-header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.sticky #main-header svg{
    min-height: 70px;
    padding: 10px;
}

#main-header svg{
    transition: .35s ease;
}

.main-logo svg {
    min-height: 100px;
    width: 100%;
    padding: 20px;
}

.real-one {
    position: initial;
    align-items: center;
    justify-content: flex-end;
}

#main-header .menu-item {
    display: flex;
    align-items: center;
    margin-right: 2em;
}


/* .main-menu-container a:before {
    opacity: 0;
} */

.main-menu-container a:before {
    content: "";
    display: block;
    width: inherit;
    height: 5px;
    /* background-color: transparent; */
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    opacity: 1;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
    -ms-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease-out;
}

.current_page_item a:before {
    background: rgb(var(--gold))!important;
}

.main-menu-container a:hover:before {
    background: rgb(var(--gold))!important;
}

.page_item a,
.main-menu-container a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


/* Style MENU TOGGLE */

.burger-menu {
    right: 30px;
    top: 30px;
    display: flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 20px;
}

.mobile-main-menu.nav-open .burger-menu {
    background-color: transparent;
}

.menu-toggle {
    cursor: pointer;
    min-height: 29px;
    min-width: 32px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transparent-nav .menu-toggle span {
    background: #fff;
}

.mobile-main-menu.nav-open .burger-menu span {
    background-color: #fff;
}

.menu-toggle span,
.menu-toggle span {
    display: block;
    height: 2px;
    width: 32px;
    margin-bottom: 7px;
    background: #fff;
}

.nav-open .menu-toggle .hamb-line {
    width: 0;
}

.menu-toggle span {
    transition-delay: 800ms;
}

.menu-toggle span:nth-child(2) {
    transition-delay: 950ms;
}

.menu-toggle span:nth-child(1) {
    transition-delay: 1100ms;
}

.nav-open .menu-toggle span {
    transition-delay: 0ms;
}

.nav-open .menu-toggle span:nth-child(2) {
    transition-delay: 150ms;
}

.nav-open .menu-toggle span:nth-child(1) {
    transition-delay: 300ms;
}

.crose-line {
    position: absolute!important;
    top: 0;
    width: 0!important;
    transform: rotate(45deg)!important;
    transform-origin: center left;
    margin: 0!important;
    transition-delay: 0ms!important;
}

.crose-line2 {
    transform: rotate(135deg) translate(-22px, -22px)!important;
}

.crose-line {
    transition-delay: 0ms!important;
}

.crose-line2 {
    transition-delay: 200ms!important;
}

.nav-open .crose-line {
    width: 43px!important;
    transition-delay: 700ms!important;
}

.nav-open .crose-line2 {
    width: 43px!important;
    transition-delay: 850ms!important;
}

.mobile-main-menu .mobile-menu-container {
    transition: all 500ms ease;
}

.mobile-menu-container {
    position: relative;
    bottom: 0vh;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.mobile-main-menu.nav-open .mobile-menu-container {
    opacity: 1;
    pointer-events: initial;
}

body.nav-open .mobile-main-menu {
    transform: translate(0, 0);
}

.mobile-main-menu {
    position: fixed;
    top: 103px;
    right: 0;
    z-index: 999;
    background: #343434;
    box-shadow: 0 0 1.8px rgb(0 0 0 / 4%), 0 0 4.8px rgb(0 0 0 / 5%), 0 0 11.7px rgb(0 0 0 / 7%), 0 0 40px rgb(0 0 0 / 10%);
    max-height: 100vh;
    height: calc(100% - 80px);
    width: 80%;
    transform: translate(100%, 0);
}

.mobile-container-menu {
    height: 100%;
    position: relative;
    top: 25vh;
    padding: 15px;
    opacity: 0;
}

.mobile-main-menu.nav-open .mobile-container-menu {
    opacity: 1;
}

.mobile-container-menu>ul {
    display: flex;
    flex-direction: column;
}

.mobile-container-menu li {
    font-size: 8vw;
    margin-bottom: .5em;
}

#mobile-menu {
    padding: 15vh 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-menu-container ul {
    margin: 0 8vw;
}

.mobile-menu-container li {
    list-style: none;
    padding: 2vh 0;
}

.mobile-menu-container li a {
    color: var(--dark-primary);
    font-size: 1.3em;
}

.mobile-social {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 65px;
    left: 0;
    width: 100%;
}

.mobile-container-menu>ul {
    margin: 1em;
}

.mobile-social .col-RS {
    margin: auto;
}

.mobile-social .col-RS svg path {
    fill: var(--dark-primary);
    stroke: var(--dark-primary);
}

@media screen and (max-width: 768px) {
    .mobile-main-menu.nav-open {
        max-height: 1200px;
        z-index: 101;
    }
    .main-logo svg {
        padding: 10px 20px;
    }
}