:root {
  --primary: 121, 167, 230;
  --orange: 255, 102, 0;
  --green: 97, 180, 146;
  --widthnavmobile: 100vw;

  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --grey: 216, 216, 216;
  --grey2: 80, 80, 80;
  --light: 243, 243, 243;
  --dark: 66, 66, 66;
  --dark2: 44, 52, 56;
  --dark3: 45, 52, 56;
  --dark4: 60, 69, 74;
  --dark5: 52, 52, 52;
  --gold: 208, 176, 130;
}
.charter {
  font-family: "Charter";
}
body {
  margin: 0;
  background-color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 300;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

main > section > * {
  transition: 0.25s ease;
}

.text-white {
  color: rgb(var(--white)) !important;
}
.text-gold {
  color: rgb(var(--gold)) !important;
}
.text-black {
  color: rgb(var(--dark2)) !important;
}
.text-orange {
  color: rgb(var(--orange)) !important;
}
.text-grey {
  color: rgb(var(--grey)) !important;
}
.text-dark2 {
  color: rgb(var(--dadark2rk4)) !important;
}

.bkg-dark-grey {
  background-color: rgb(var(--dark5)) !important;
}
.bkg-white {
  background-color: rgb(var(--white)) !important;
}
.bkg-black {
  background-color: rgb(var(--dark2)) !important;
}
.bkg-orange {
  background-color: rgb(var(--orange)) !important;
}
.bkg-primary {
  background-color: rgb(var(--primary)) !important;
}
.bkg-grey {
  background-color: rgb(var(--grey)) !important;
}
.bkg-grey2 {
  background-color: rgb(var(--grey2)) !important;
}
.bkg-light {
  background-color: rgb(var(--light)) !important;
}
.bkg-gold {
  background-color: rgb(var(--gold)) !important;
}

.uppercase {
  text-transform: uppercase;
}
[hidden] {
  display: none !important;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.wp-block-columns {
  margin: 0;
}

.modal {
  z-index: 91050 !important;
}

@media (min-width: 1500px) {
  .container {
    max-width: 70vw;
  }
}

.object-fit-cover {
  object-fit: cover;
}
.anim-300-linear,
.anim-300-linear a {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.anim-300,
.anim-300 a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.anim-500,
.anim-500 a {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.anim-800,
.anim-800 a {
  -webkit-transition: all 800ms ease !important;
  -moz-transition: all 800ms ease !important;
  -ms-transition: all 800ms ease !important;
  -o-transition: all 800ms ease !important;
  transition: all 800ms ease !important;
}

.anim-800-linear {
  -webkit-transition: all 800ms linear !important;
  -moz-transition: all 800ms linear !important;
  -ms-transition: all 800ms linear !important;
  -o-transition: all 800ms linear !important;
  transition: all 800ms linear !important;
}

.nav ul {
  list-style: none;
  margin-bottom: 0;
}

.no-bkg {
  background: transparent !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

.ls-2 {
  letter-spacing: 2px !important;
}

.ls-3 {
  letter-spacing: 3px !important;
}

.ls-4 {
  letter-spacing: 4px !important;
}

.lh-1{
  line-height: 1em;
}
.lh-2{
  line-height: 1.5em;
}
.lh-3{
  line-height: 1.8em;
}
.lh-4{
  line-height: 2em;
}


.w-50vw {
  width: 50vw;
  min-width: 300px;
}

.w-100vw {
  width: 100vw;
}

.h-50vh {
  height: 50vh;
}

.h-100vh {
  height: 100vh;
}

.mh-100vh {
  min-height: 100vh;
}

/* BOUTON */
.my-btn,
.is-style-addictoclic-link a,
.is-style-addictoclic-arrow-link a {
  padding: 1em 2em;
  margin-bottom: 1em;
  color: #fff;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  border: none;
}
.my-btn:hover,
.is-style-addictoclic-link a:hover,
.is-style-addictoclic-arrow-link a:hover {
  text-decoration: none;
  color: inherit;
}
.my-btn:visited,
.is-style-addictoclic-link a:visited,
.is-style-addictoclic-arrow-link a:visited {
  color: inherit;
}
.btn-arrow,
.is-style-addictoclic-arrow-link a {
  padding: 1em 3.5em 1em 1em;
}
.btn-arrow-same-height,
.is-style-addictoclic-arrow-link a {
  min-height: 80px;
  max-width: 290px;
}
.btn-arrow:after,
.btn-arrow:before,
.is-style-addictoclic-arrow-link a:after,
.is-style-addictoclic-arrow-link a:before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 8px;
  right: 5%;
  border-bottom: 12px solid #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}
.btn-arrow:after,
.is-style-addictoclic-arrow-link a:after {
  bottom: 50%;
  transform: translate(-15px, calc(100% - 2px)) rotate(-140deg);
}
.btn-arrow:before,
.is-style-addictoclic-arrow-link a:before {
  top: 50%;
  transform: translate(-15px, calc(-100% + 2px)) rotate(140deg);
}
.btn-arrow:hover:after,
.is-style-addictoclic-arrow-link a:hover:after {
  transform: translate(-10px, calc(100% - 2px)) rotate(-140deg);
}
.btn-arrow:hover:before,
.is-style-addictoclic-arrow-link a:hover:before {
  transform: translate(-10px, calc(-100% + 2px)) rotate(140deg);
}
.btn-green {
  background-color: rgb(var(--green));
}
.btn-orange {
  background-color: rgb(var(--orange));
}
.btn-blue {
  background-color: rgb(var(--primary));
}

.demo-btn-menu li {
  opacity: 1 !important;
}
.demo-btn-menu li a {
  background-color: rgb(var(--orange));
  border: 1px solid rgb(var(--orange));
  color: rgb(var(--white));
  opacity: 1 !important;
  padding: 0.3em 1.5em;
}
/* END BTN */

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

.no-border {
  border: none !important;
}

.img-br-left {
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
}
.img-br-right {
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
}
.br-5 {
  border-radius: 5px;
}
