#post-118 {
    margin-bottom: 0;
}

.force__title:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    bottom: -50%;
    left: 0;
    background: rgb(var(--gold));
}

.citation-column {
    border-top: 5px solid rgb(var(--gold));
}

.en-savoir-plus-btn,
.is-style-imeris-button-dark a {
    font-size: 1.4em;
    font-weight: 200;
    padding: 1.6vh 5vh;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    z-index: 2;
    transition: .35s ease;
}

.en-savoir-plus-btn:hover,
.is-style-imeris-button-dark a:hover{
    color: #FFF;
}

.en-savoir-plus-btn:before {
    content: "";
    width: 2vh;
    height: 2vh;
    background-color: rgb(var(--gold));
    position: absolute;
    top: -1vh;
    left: -1vh;
    transition: .35s ease;
    z-index: -1;
}

.en-savoir-plus-btn:hover:before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-dark {
    color: #000;
    border: 1px solid #DADADA;
}

.button-light {
    color: #fff;
    border: 1px solid #fff;
}

.map-text {
    bottom: 0;
    right: 10%;
}

.force-bg {
    background-position: bottom;
    background-size: cover;
}

.force-map:before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--gold));
    z-index: 0;
}

.force-zone {
    bottom: 21%;
    left: 5%;
}

.gold-bloc img {
    position: absolute;
    transform: translateX(-98px);
}

.gold-after:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    bottom: 0;
    left: 0;
    background: rgb(var(--gold));
}

.certification .wp-block-image img {
    width: 150px;
}

.faq-img__container::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 10%;
    width: 66%;
    height: 100%;
    border: 1px solid rgb(var(--gold));
    z-index: -1;
}

body.nav-open {
    overflow: hidden;
}

body,
footer,
section,
main,
header {
    max-width: 100vw;
}

@media (max-width: 992px) {
    hr.wp-block-separator {
        display: none;
        left: -11%;
    }
}


/* IPAD */

@media (max-width: 768px) {
    .force-zone {
        bottom: 22%;
        left: 4%;
    }
    .force-map:before {
        display: none;
    }
}


/* MOBILE */

@media (max-width: 576px) {
    .force__title:after {
        bottom: -20%;
        transform: translateX(-50%);
        left: 50%;
    }
    .force-zone {
        bottom: 21%;
        left: 7%;
    }
}