.block-expertise__title {
    font-size: 3em;
    font-weight: 400;
}

.block-expertise__info:after {
    content: "";
    position: absolute;
    bottom: -5%;
    right: -5%;
    width: calc(100% - 35px);
    height: 100%;
    border: 1px solid rgb(var(--gold));
    z-index: -1;
}

.block-expertise__content {
    position: relative;
}

.block-expertise__number img {
    position: absolute;
    top: -30%;
    left: 20%;
    transform: scale(1.5);
}

.block-expertise__image img {
    left: 80%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    right: 50%;
    width: 60vw;
    object-fit: cover;
    top: -10%;
}

@media (max-width: 992px) {
    .block-expertise__number img {
        display: none;
    }
}

@media (max-width: 576px) {
    .services-title:after {
        left: 50%;
        transform: translateX(-50%);
    }
    .services-title {
        text-align: center;
    }
    .block-expertise__number img {
        display: none;
    }
    .block-expertise__info:after {
        display: none;
    }
    .block-expertise__content {
        padding: 0;
    }
}