.cabinet-images {
    max-height: 70vh;
    overflow: hidden;
}

.cabinet-images:after {
    content: "";
    background: linear-gradient( 0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cabinet-lettre {
    z-index: -1;
    right: 5%;
    bottom: 0;
}

.cabinet .cabinet-text {
    padding-top: 10vh;
}

.cabinet .right {
    right: 5%;
}

.cabinet .left {
    left: 5%;
}

.cabinet .person-title {
    font-size: 2em;
    margin-bottom: 1.5em;
}

.hidden-text {
    display: none;
    overflow: hidden;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    -ms-transition: max-height 0.2s;
    -o-transition: max-height 0.2s;
    transition: max-height 0.2s;
}

.opacity-on {
    opacity: 1;
    transition: 1s linear;
}

.opacity-off {
    opacity: 0;
}

.cabinet-button {
    margin: 30px auto 0;
    cursor: pointer;
}

@media (max-width: 992px) {
    .cabinet-images {
        max-height: 70vh;
    }
    @media (max-width: 576px) {
        .cabinet-images {
            max-height: 45vh;
        }
    }
}