#svg-circle{
    --t: matrix(1, 0, 0, 1, 75, 75);
    transform: var(--t);
    animation: blink 1.5s ease infinite;
}

@keyframes blink{
    from{
        opacity: 1;
        transform: var(--t);
    }
    to{
        transform: var(--t) scale(10);
        opacity: 0;
    }
}


@media (max-width: 576px) {
    .force-bg {
        min-height: 70vh;
    }
    .position-container {
        flex-direction: column;
        padding: 0;
    }
    .map-container {
        margin-top: 0!important;
        padding: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .position-container .en-savoir-plus-btn {
        margin: 0 auto;
    }
}