.steps {
    position: relative;
}

.steps .container {
    padding: 10vh 15px;
}

.steps__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.steps__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.greyscale {
    background-color: #000;
    width: 100%;
    height: 100%;
}

.steps .container {
    position: relative;
    z-index: 1;
}

.steps__title {
    position: relative;
    font-size: clamp(26px, 2vw, 38px);
}

.steps__title::after {
    content: "";
    background-color: rgb(var(--gold));
    width: 50px;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2vh;
}

.steps__toggle {
    margin: 5vh 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.steps__toggle p {
    font-size: clamp(60px, 7vw, 100px);
    font-weight: 900;
    margin-bottom: 0;
    color: transparent;
    transition: 0.35s ease;
    -webkit-text-stroke: 2px rgb(var(--gold));
    cursor: pointer;
}

.steps__toggle p.select {
    color: rgb(var(--gold));
    font-size: clamp(90px, 10vw, 140px);
    line-height: 0;
}

.steps__toggle .separator {
    display: block;
    height: 2px;
    width: 3vw;
    transition: 0.35s ease;
    background-color: rgb(var(--gold));
}

.text-white .steps__toggle .separator {
    background-color: rgb(var(--white));
}

.steps__toggle .separator {
    background-color: #d8d8d8;
}

.steps__toggle>* {
    margin-right: 2.5vw;
}

.steps__toggle p.select+.separator {
    background-color: rgb(var(--gold));
}

.steps__paragraph {
    transition: 0.35s ease;
    max-width: 800px;
}

.steps__paragraph:first-of-type {
    position: relative;
}

.steps__paragraph:not(:first-of-type) {
    position: absolute;
    top: 0;
    left: 0;
}

.steps__paragraph:not(.visible) {
    opacity: 0;
    pointer-events: none;
}

.steps__content {
    position: relative;
    margin: 2em 0;
}

.steps__paragraph h3 {
    margin-bottom: 2em;
}

.big_index {
    font-size: 20vw;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 0.7;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 2px #d8d8d8;
    transition: 0.35s ease;
}

.text-white .big_index {
    -webkit-text-stroke: 2px #ffffff;
}

@media (max-width: 576px) {
    .steps {
        overflow: hidden;
    }
}